.chatItem{
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding:0 1rem;



  &:hover{
    background: #f4f5f5;
  }



  &-avatar{
    width: 20%;
    height: 80%;
  }

  &-data{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: .5rem;
    border-bottom: 1px solid #e9ebeb;



    &-name{
      font-size: 1.2em;
      padding: .2rem 0;
    }

    &-chat{
      color: rgba(0,0,0,.6);

    }

  }



}

