.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: 4rem 1fr 4rem;
  grid-template-areas: 'chatList chatUser' 'chatList chatContent' 'chatList chatMessage';
  background: linear-gradient(#009688 15%, #DBDBD4 15%);
  padding: 1rem 10rem;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2)

}

.chatList,.chatContent,.chatUser,.chatMessage{
  width: 100%;
  height: 100%;
}
.chatList{
  grid-area: chatList;
  background:white;
  overflow: auto;
}
.chatUser{
  grid-area: chatUser;
  background:#EEEEEE;
}
.chatContent{
  grid-area: chatContent;
  background: #E5DDD5;
}
.chatMessage{
  grid-area: chatMessage;
  background: #efefef;
}